@media only screen and (max-width: 678px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    color: #000000;
    text-align: center;
    margin: 0 auto;
    font-family: "Open sans", sans-serif;
    overflow-x: hidden;
  }

  section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    flex-wrap: wrap;
  }

  section p {
    margin: 0 auto;
    width: 90%;
    text-align: justify;
  }

  #consultation,
#sales,
#industrial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    flex-wrap: wrap;
  }

  section#section_contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 768px;
    flex-wrap: wrap;
    width: 100%;
    font-size: medium;
    color: #4e4e4e;
  }

  #section_contacts a,
#section_contacts a:visited {
    color: #4e4e4e;
  }

  section#section_contacts > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 768px;
    flex-wrap: wrap;
  }

  #industrial {
    margin: 0 auto;
  }

  #industrial p {
    width: 90%;
  }

  .summary-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 768px;
    flex-wrap: wrap;
    width: calc(100% - 4em);
    padding: 0;
    flex-wrap: nowrap;
    border-radius: 5px;
    margin: 2em auto;
  }

  .summary-card > div {
    text-align: left;
    margin: 1em;
    color: #4e4e4e;
  }

  #menu,
#menu2 {
    display: block;
    cursor: pointer;
    z-index: 100000000000000010000000000000;
  }

  #form-feedback {
    z-index: 1000000000000000000000000000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    /* background-color: red; */
    background-color: #6ff1e6;
    color: black;
    padding: 1em;
    font-size: large;
  }

  #popup,
#popup2 {
    position: fixed;
    padding: 1em;
    width: calc(100% - 2em);
    height: 100%;
    top: 0;
    z-index: 10000000000000000;
    text-align: center;
  }

  #close-popup,
#close-popup2 {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: right;
    margin-top: -30px;
    width: 30px;
    margin-left: calc(90% + 30px);
    padding: 0.25em;
  }

  /* components */
  #search-form input[type=text],
form input[type=email],
form input[type=number],
form select {
    width: calc(100% - 1.5em);
    outline: none;
    height: 2.5em;
    padding: 0.25em 0.5em;
    margin: 0.5em;
  }

  #popup > form {
    margin: 1em auto;
    width: calc(80% - 2em);
  }

  #popup > form input[type=text],
#popup > form input[type=email] {
    width: 80%;
    outline: none;
    height: 2em;
    padding: 0.25em 0.5em;
    margin: 0.5em;
  }

  #popup2 > form {
    margin-top: 40px;
  }

  #popup2 > form input[type=text],
#popup2 > form input[type=email],
#popup2 > form textarea {
    width: 80%;
    outline: none;
    height: 2em;
    padding: 0.25em 0.5em;
    margin: 0.5em;
  }

  #popup2 > form textarea {
    height: 5em;
  }

  /* sizes */
  .v-100 {
    height: 100%;
  }

  .full-view-height {
    height: 100vh;
  }

  .view-height-90 {
    height: 90vh;
  }

  .min-width-full {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow: hidden;
    /*padding-left:2.5em;*/
    /*padding-right:2.5em;*/
  }

  .w-100 {
    width: calc(100%);
    max-width: 100%;
    /*padding: 2em;*/
  }

  .padding-std {
    padding: 1em;
  }

  .padding-small {
    padding: 0.5em;
  }

  .padding-small-left {
    padding-left: 0.5em;
  }

  .padding-small-right {
    padding-right: 0.5em;
  }

  .padding-small-top {
    padding-top: 0.5em;
  }

  .padding-small-bottom {
    padding-bottom: 0.5em;
  }

  .padding-std-left {
    padding-left: 2em;
  }

  .padding-std-right {
    padding-right: 2em;
  }

  .padding-std-top {
    padding-top: 2em;
  }

  .padding-std-bottom {
    padding-bottom: 2em;
  }

  .margin-auto {
    margin: 0 auto;
  }

  .margin-std {
    margin: 2em auto;
  }

  .margin-std-left {
    margin-left: 2em;
  }

  .margin-std-right {
    margin-right: 2em;
  }

  .margin-std-top {
    margin-top: 2em;
  }

  .margin-std-bottom {
    margin-bottom: 2em;
  }

  /* images */
  .feature-image {
    /* border-top-right-radius: 50%; */
    max-width: 400px;
    margin: 2em -2em -2em 2em;
  }

  .item-image {
    margin: 0 auto;
    width: 100%;
  }

  /* logo */
  .logo {
    width: 120px;
  }

  /* menu bar */
  .shadow,
.summary-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* borders */
  .round-corner-top-left {
    border-top-left-radius: 50%;
  }

  .round-corner-top-right {
    border-top-right-radius: 50%;
  }

  .round-corner {
    border-radius: 10px;
  }

  .alert-bg {
    background-color: red;
  }

  #feedback {
    color: #ffffff;
    width: calc(100% - 0.5em);
    text-align: center;
    margin: 0 auto;
    padding: 0.25em;
    background-color: red;
  }

  .border-dark-bottom {
    border-bottom: 1px solid black;
  }

  .border-dark-left {
    border-left: 1px solid black;
  }

  .border-dark-right {
    border-right: 1px solid black;
  }

  .border-dark-top {
    border-top: 1px solid black;
  }

  .border-dark-all {
    border: 1px solid black;
  }

  .border-primary-all {
    border: 1px solid #132a86;
  }

  .border-primary-bottom {
    border-bottom: 1px solid #132a86;
  }

  .border-primary-left {
    border-left: 1px solid #132a86;
  }

  .border-primary-right {
    border-right: 1px solid #132a86;
  }

  .border-primary-top {
    border-top: 1px solid #132a86;
  }

  .border-accent-all {
    border: 1px solid #6ff1e6;
  }

  .border-accent-bottom {
    border-bottom: 1px solid #6ff1e6;
  }

  .border-accent-left {
    border-left: 1px solid #6ff1e6;
  }

  .border-accent-right {
    border-right: 1px solid #6ff1e6;
  }

  .border-accent-top {
    border-top: 1px solid #6ff1e6;
  }

  .border-white-all {
    border: 2px solid #ffffff;
  }

  .border-white-bottom {
    border-bottom: 1px solid #ffffff;
  }

  .border-white-left {
    border-left: 1px solid #ffffff;
  }

  .border-white-right {
    border-right: 1px solid #ffffff;
  }

  .border-white-top {
    border-top: 1px solid #ffffff;
  }

  /* button */
  .button-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 48px;
    height: 48px;
    background-color: #132a86;
    cursor: pointer;
  }

  .button-scroll-top:hover {
    background-color: #6ff1e6;
  }

  .large-icons,
.large-icons-2 {
    border-radius: 50%;
    cursor: pointer;
    padding: 12px;
    width: 100px;
    height: 100px;
  }

  .large-icons:hover {
    background-color: #132a86;
    border: 2px solid #132a86;
    color: #ffffff;
  }

  .large-icons-2:hover {
    background-color: #6ff1e6;
    border: 2px solid #6ff1e6;
    color: black;
  }

  .large-icons i,
.large-icons-2 i {
    font-size: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin: 2em 0;
    min-width: 80px;
    /*max-width: 160px;*/
    padding: 12px 24px;
    cursor: pointer;
    font-weight: bold;
  }

  .button i {
    margin-left: 1em;
  }

  .button:hover {
    background-color: #6ff1e6;
    /* border: 0px solid $primaryColor; */
    color: #ffffff;
  }

  .button.round-corner {
    border-radius: 25px;
  }

  .round {
    border-radius: 50%;
  }

  /* fonts for headings*/
  h1,
h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.5em;
  }

  h3,
h4,
h5 {
    font-family: "Monteserrat", sans-serif;
  }

  .title-label {
    margin-bottom: -3em;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .text-small {
    font-size: 1rem;
  }

  .focus {
    font-weight: bolder;
  }

  /* colors and backgrounds */
  .bg-img-map {
    background-image: url("../images/map2.png");
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bg-service1 {
    background-image: url("../images/service1_.jpg");
    background-size: cover;
  }

  .bg-service2 {
    background-image: url("../images/service2_.jpg");
    background-size: cover;
  }

  .bg-service3 {
    background-image: url("../images/service3_.jpg");
    background-size: cover;
  }

  .bg-service4 {
    background-image: url("../images/service4_.jpg");
    background-size: cover;
  }

  .bg-img-header1 {
    background-image: url("../images/header1.jpg");
    background-size: cover;
  }

  .bg-img-header2 {
    background-image: url("../images/header2.jpg");
    background-size: cover;
  }

  .bg-img-header3 {
    background-image: url("../images/header3.jpg");
    background-size: cover;
  }

  .bg-img-header4 {
    background-image: url("../images/header4.jpg");
    background-size: cover;
  }

  .bg-img-header5 {
    background-image: url("../images/jobs.jpg");
    background-size: cover;
  }

  .bg-img-header6 {
    background-image: url("../images/banner3.jpg");
    background-size: cover;
  }

  .bg-img-header7 {
    background-image: url("../images/ladies.jpg");
    background-size: cover;
  }

  .bg-img-header8 {
    background-image: url("../images/industrial.jpg");
    background-size: cover;
  }

  .bg-img-header9 {
    background-image: url("../images/customer_care.jpg");
    background-size: cover;
  }

  .bg-img-header_ {
    background-image: url("../images/training_new.jpg");
    background-size: cover;
  }

  .bg-img-team {
    background-image: url("../images/team-image.jpg");
    background-size: cover;
  }

  .black-bg-transparent {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .dark-bg-transparent {
    background-color: rgba(0, 0, 0, 0.342);
  }

  .primary-bg-transparent {
    background-color: #132a865e;
  }

  .white-bg-transparent {
    background-color: #0000002d;
  }

  .accent-bg-transparent {
    background-color: #6ff1e671;
  }

  .dark-bg {
    background-color: #000000;
  }

  .dark-bg a,
.dark-bg a:visited,
.dark-bg {
    color: #ffffff;
    text-decoration: none;
  }

  .primary-bg {
    background-color: #132a86;
  }

  .primary-bg a,
a:visited {
    color: #ffffff;
    text-decoration: underline;
  }

  .white-bg {
    background-color: #ffffff;
  }

  .white-bg a,
a:visited,
nav.white-bg a,
nav.white-bg a:visited {
    color: #132a86;
    text-decoration: none;
  }

  .primary-bg a,
a:visited,
nav.primary-bg a,
nav.primary-bg a:visited {
    color: #ffffff;
    text-decoration: none;
  }

  nav.primary-bg span.active {
    color: #6ff1e6;
  }

  .accent-bg {
    background-color: #6ff1e6;
  }

  .accent-bg a,
a:visited {
    color: #ffffff;
    text-decoration: none;
  }

  #navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 768px;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: calc(100%);
    margin: 0 auto;
    padding: 0;
    height: 0;
    overflow-y: hidden;
  }

  nav span,
nav > div#services {
    padding: 0.75em 1em;
    width: calc(100% - 2em);
    cursor: pointer;
  }

  nav > div#services.active,
nav > div#services:hover,
nav span.active,
nav span:hover {
    background-color: #6ff1e6;
    color: #000000;
  }

  a.button {
    text-decoration: none;
  }

  .error-text {
    color: red;
  }

  .success-bg {
    background-color: green;
  }

  .success-text {
    color: green;
  }

  .primary-text {
    color: #132a86;
  }

  .white-text {
    color: #ffffff;
  }

  .accent-text {
    color: #6ff1e6;
  }

  /* alignment */
  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-justify {
    text-align: justify;
  }

  /* positioning */
  .absolute {
    position: absolute;
  }

  .absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
  }

  .flex-center {
    justify-content: center;
  }

  .flex-start {
    justify-content: flex-start;
  }

  .flex-end {
    justify-content: flex-end;
  }

  .flex-between {
    justify-content: space-between;
  }

  .flex-space {
    justify-content: space-evenly;
  }

  .flex-top {
    align-items: flex-start;
    /* justify-content: center; */
  }

  .flex-bottom {
    align-items: flex-end;
    /* justify-content: center; */
  }

  .flex-middle {
    align-items: center;
    /* justify-content: center; */
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  /* navigations */
  nav a {
    padding: 0.5em;
    color: #132a86;
    cursor: pointer;
  }

  nav a:hover {
    text-decoration: underline;
  }

  nav span #services {
    position: relative;
  }

  .form-control {
    width: calc(100% - 1.5em);
    outline: none;
    height: 2.5em;
    padding: 0.25em 0.5em;
    margin: 0.5em;
  }

  #expandable {
    background-color: #000000;
    text-align: left;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1em 0.5em;
    margin: 0 auto;
  }

  #expandable a,
#expandable a:visited {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    padding: 0.5em;
  }

  #expandable a:hover {
    color: #ffffff;
    background-color: #132a86;
    text-decoration: none;
    margin-left: -0.5em;
  }

  /* layouts */
  .mobile-only {
    display: none;
  }

  .horizontal-scroll-wrapper {
    animation: myscroll 5s linear forwards;
    width: 100%;
    height: 300px;
    padding-left: 1000px;
    border-left: 1px solid red;
  }

  /* .horizontal-scroll-wrapper > div {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: right top;
  } */
  .squares {
    padding: 2px;
    display: block;
    width: 100px;
    align-content: center;
  }

  .squares > img {
    width: calc(100% - 10px);
    margin: 5px;
  }

  .news-card {
    width: 80%;
    cursor: pointer;
  }

  .news-card:hover {
    background-color: #132a86;
    color: #ffffff;
  }

  .news-card:hover > span {
    background-color: #6ff1e6;
    color: #000000;
  }

  .news-card > p {
    margin: 1em;
    text-align: justify;
    font-size: small;
  }

  .news-card:hover > p,
.news-card:hover > a,
.news-card:hover > a:visited,
.news-card:hover > a:hover {
    color: #ffffff;
  }

  .box-list,
.box-list2 {
    margin: 1em;
    padding: 1em;
    width: calc(100% - 2em);
    cursor: pointer;
  }

  .box-list {
    height: 480px;
  }

  .box-list2 {
    height: 120px;
  }

  .box-list:hover {
    background-image: none;
    border: 1px solid #ffffff;
  }

  .vspacer {
    display: block;
    width: 100%;
    height: 20px;
  }

  .vspacer-small {
    display: block;
    width: 100%;
    height: 5px;
  }

  .hidden {
    display: none;
  }

  .transparent {
    opacity: 0.45;
    position: relative;
    left: 0;
    top: 0;
  }

  #contact-form {
    width: 80%;
    padding: 2em;
    margin-top: 4em;
    margin-bottom: 2em;
    margin: 4em auto;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    flex-wrap: wrap;
    padding: 0 1em;
    width: calc(100% - stdPadding);
  }

  .values {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 768px;
    flex-wrap: wrap;
    width: calc(100% - 1.5em);
    border-radius: 50px;
    padding: 0.2em 0.2em;
    flex-wrap: nowrap;
    margin: 1em;
  }

  .values div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 768px;
    flex-wrap: wrap;
    margin-left: 1em;
    flex-grow: 2;
    font-size: small;
    text-align: left;
  }

  .floating-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 768px;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow-x: hidden;
    z-index: 100000000;
    margin: 0 auto;
    padding: 0;
    width: calc(100%);
  }

  .floating-header #top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    flex-wrap: wrap;
    width: calc(100% - 1em);
    padding: 0.5em;
    margin: 0 auto;
  }

  img.flag {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
  }

  .tip {
    display: flex;
    flex-direction: column;
  }

  .tooltip {
    background-color: #4e4e4e;
    color: #ffffff;
    visibility: hidden;
    position: absolute;
    border-radius: 6px;
    padding: 0.2em 0.5em;
    z-index: 1;
    margin-top: -2em;
    margin-left: -2em;
  }

  .tip:hover .tooltip {
    visibility: visible;
  }

  table tr td {
    padding: 1em;
  }

  table tbody tr:hover {
    background-color: #6ff1e6;
    cursor: pointer;
  }

  table tr td a,
table tr td a:visited,
table tr td a:hover {
    color: #132a86;
    text-decoration: none;
  }

  a.plain-link,
a.plain-link:visited,
a.plain-link:hover {
    color: #132a86;
    text-decoration: none;
  }

  .copyright {
    padding: 1em;
    font-size: 0.8rem;
  }

  main,
section {
    min-height: calc(100vh - 10em);
    margin: 0 auto;
    width: 100%;
  }

  #section_services div#slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    flex-wrap: wrap;
  }

  .title-tag {
    padding: 1em;
    display: block;
    /* background-image: url("../images/title_tag.png");
    background-size: cover; */
  }

  #slider1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    flex-wrap: wrap;
    width: 100%;
  }

  #slider1 p {
    width: calc(90% - 4em);
    padding: 0 2em;
  }

  .can-go-right {
    overflow-x: hidden;
    animation: goright 5s linear 0s forwards;
    animation-iteration-count: infinite;
    /* height: 120px; */
  }

  .can-go-left {
    overflow-x: hidden;
    animation: goleft 5s linear 0s forwards;
    animation-iteration-count: infinite;
    /* height: 120px; */
  }

  .can-slide {
    overflow-x: hidden;
    animation: slide 0.5s linear 4s forwards;
  }

  .can-fade {
    animation: fade 1s linear 4s forwards;
  }

  .can-spin:hover {
    animation: spin 2000ms linear infinite;
  }

  .can-spin-horizontal:hover {
    animation: spinHorizontal 2000ms linear infinite;
  }

  p > i.material-icons {
    font-size: small;
    align-self: center;
  }

  .no-mobile {
    display: none;
  }

  .pull_down {
    animation: pullDown;
  }

  .pull_up {
    animation: pullUp;
  }

  .pull_up,
.pull_down {
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  #confirm_apply_form {
    width: 80%;
    margin: 1em auto;
  }

  #confirm_apply_form > div.form-group {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 768px;
    flex-wrap: wrap;
    padding: 1em;
    text-align: center;
    width: 100%;
  }

  @keyframes spinHorizontal {
    from {
      transform: rotate3d(0deg);
    }
    to {
      transform: rotate3d(360deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes myscroll {
    from {
      padding-left: 1000px;
    }
    to {
      padding-left: -1200px;
    }
  }
  @keyframes goright {
    from {
      margin-left: 0px;
    }
    to {
      margin-left: 100%;
    }
  }
  @keyframes goleft {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: -100px;
    }
  }
  @keyframes slide {
    from {
      position: relative;
      left: 0px;
    }
    to {
      position: relative;
      left: 100%;
    }
  }
  @keyframes pullDown {
    from {
      height: 0;
    }
    to {
      height: 300px;
    }
  }
  @keyframes pullUp {
    from {
      height: 300px;
    }
    to {
      height: 0;
    }
  }
}

/*# sourceMappingURL=general_mobile.css.map */
