@media only screen and (min-width: 992px) and (max-width: 1279px) {
  $primaryColor: #132a86;
  $accentColor: #6ff1e6;
  $accentColorTrans: #6ff1e671;
  $primaryText: #000000;
  $secondaryText: #4e4e4e;
  $white: #ffffff;
  $whiteTrans: rgba(255, 255, 255, 0.534);
  $primaryColorTrans: #132a865e;
  $largeFont: large;
  $mediumFont: medium;
  $smallFont: small;
  $minWidth: 769px;
  $maxWidth: 1279px;
  $stdPadding: 2em;
  $smPadding: 0.5em;

  @mixin flex($dir, $jc, $ai, $wrap, $wd) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
    @if $wrap == 1 {
      max-width: $maxWidth;
      flex-wrap: $wd;
    }
  }

  @mixin navButton($bg, $bd, $t) {
    background-color: $bg;
    border: 1px solid $bd;
    color: $t !important;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    width: 100%;
    background-color: $white;
    color: $primaryText;
    text-align: center;
    /* padding: 1em 2em; */
    margin: -1em auto;
    font-family: "Open sans", sans-serif;
    overflow-x: hidden;
    font-size: 1em;
  }
  section .container {
    @include flex(row, center, center, 0, no-wrap);
    // background-color: $secondaryText;
  }

  #contact-form,
  #header p,
  #slider1 p {
    width: 60%;
    margin: auto;
  }

  #contact-form {
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid $primaryColor;
  }
  section > p {
    margin: 0 auto;
    width: 60%;
    text-align: justify;
    // color: $secondaryText;
  }
  section > p {
    margin: 0 auto;
    width: 60%;
    text-align: justify;
    color: $secondaryText;
  }
  #industrial {
    padding: 2em;
  }
  section#hr > p,
  section#industrial p {
    margin: 1em auto;
    width: calc(80% - 2em);
  }
  section#section_contacts {
    @include flex(row, space-evenly, flex-start, 0, "");
    width: 100%;
    font-size: $mediumFont;
  }
  #section_contacts a,
  #section_contacts a:visited {
    color: $secondaryText;
  }
  section#section_contacts > div {
    @include flex(column, flex-start, flex-start, 0, "");
  }
  .summary-card {
    @include flex(row, flex-start, center, 0, "");

    width: calc(80% - 4em);
    padding: 1em;
    // border: 1px solid $accentColor;
    flex-wrap: nowrap;
    border-radius: 5px;
    margin: 2em auto;
  }
  .summary-card > div {
    text-align: left;
    margin: 1em;
    color: $secondaryText;
  }
  #menu,
  #menu2 {
    display: none;
  }
  #form-feedback {
    z-index: 999999999999999999999999999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    /* background-color: red; */
    background-color: #6ff1e6;
    color: black;
    padding: 1em;
    font-size: large;
  }
  #popup,
  #popup2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999999999999999;
    text-align: center;
  }
  #close-popup,
  #close-popup2 {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: right;
    margin-top: -60px;
    width: 40px;
    // height: 40px;
    margin-left: calc(100% + 30px);
    padding: 0.25em;
  }
  /* components */
  #search-form input[type="text"],
  form input[type="email"],
  form input[type="number"],
  form select {
    width: calc(100% - 1.5em);
    outline: none;
    height: 2.5em;
    padding: 0.25em 0.5em;
    margin: 0.5em;
  }
  #popup > form {
    margin-top: 140px;
    width: 50%;
  }
  #popup > form input[type="text"],
  #popup > form input[type="email"] {
    width: 80%;
    outline: none;
    height: 2em;
    padding: 0.25em 0.5em;
    margin: 0.5em;
  }
  #popup2 > form {
    margin-top: 40px;
  }
  #popup2 > form input[type="text"],
  #popup2 > form input[type="email"],
  #popup2 > form textarea {
    width: 80%;
    outline: none;
    height: 2em;
    padding: 0.25em 0.5em;
    margin: 0.5em;
  }

  #popup2 > form textarea {
    height: 5em;
  }
  /* sizes */
  .v-100 {
    height: 100%;
  }
  .full-view-height {
    height: 100vh;
  }
  .view-height-90 {
    height: 90vh;
  }
  .min-width-full {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow: hidden;
    /*padding-left:2.5em;*/
    /*padding-right:2.5em;*/
  }
  .w-100 {
    width: calc(100%);
    max-width: 100%;
    /*padding: 2em;*/
  }
  .w-80 {
    width: calc(80% - 8em);
    max-width: 80%;
  }
  .w-75 {
    width: calc(75% - 8em);
    max-width: 75%;
  }
  .w-70 {
    width: calc(70% - 8em);
    max-width: 70%;
  }
  .w-60 {
    width: calc(60% - 8em);
    max-width: 60%;
  }
  .w-50 {
    width: calc(50% - 8em);
    max-width: 50%;
  }
  .w-40 {
    width: calc(40% - 8em);
    max-width: 40%;
  }
  .w-30 {
    width: calc(30% - 8em);
    max-width: 30%;
  }
  .w-25 {
    width: calc(25% - 8em);
    max-width: 25%;
  }
  .w-100-no-padding {
    width: 100%;
  }
  .w-75-no-padding {
    width: 75%;
  }
  .w-50-no-padding {
    width: 50%;
  }
  .w-25-no-padding {
    width: 25%;
  }
  .padding-std {
    padding: $stdPadding;
  }
  .padding-small {
    padding: $smPadding;
  }
  .padding-std-left {
    margin-left: 2em;
  }
  .padding-std-right {
    margin-right: 2em;
  }
  .margin-auto {
    margin: 0 auto;
  }
  .margin-std {
    margin: 2em auto;
  }
  .margin-std-left {
    margin-left: 2em;
  }
  .margin-std-right {
    margin-right: 2em;
  }
  .margin-std-top {
    margin-top: 2em;
  }
  .margin-std-bottom {
    margin-bottom: 2em;
  }
  /* images */
  .feature-image {
    /* border-top-right-radius: 50%; */
    max-width: 400px;
    margin: 2em -2em -2em 2em;
  }
  .item-image {
    width: 300px;
  }
  /* logo */
  .logo {
    width: 112px;
    height: 56px;
    margin: 5px;
  }
  /* menu bar */

  .shadow,
  .summary-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* borders */
  .round-corner-top-left {
    border-top-left-radius: 50%;
  }
  .round-corner-top-right {
    border-top-right-radius: 50%;
  }
  .round-corner {
    border-radius: 10px;
  }
  .alert-bg {
    background-color: red;
  }
  .border-dark-bottom {
    border-bottom: 1px solid black;
  }
  .border-dark-left {
    border-left: 1px solid black;
  }
  .border-dark-right {
    border-right: 1px solid black;
  }
  .border-dark-top {
    border-top: 1px solid black;
  }
  .border-dark-all {
    border: 1px solid black;
  }
  .border-primary-all {
    border: 1px solid $primaryColor;
  }
  .border-primary-bottom {
    border-bottom: 1px solid $primaryColor;
  }
  .border-primary-left {
    border-left: 1px solid $primaryColor;
  }
  .border-primary-right {
    border-right: 1px solid $primaryColor;
  }
  .border-primary-top {
    border-top: 1px solid $primaryColor;
  }
  .border-accent-all {
    border: 1px solid #6ff1e6;
  }
  .border-accent-bottom {
    border-bottom: 1px solid #6ff1e6;
  }
  .border-accent-left {
    border-left: 1px solid #6ff1e6;
  }
  .border-accent-right {
    border-right: 1px solid #6ff1e6;
  }
  .border-accent-top {
    border-top: 1px solid #6ff1e6;
  }
  .border-white-all {
    border: 2px solid $white;
  }
  .border-white-bottom {
    border-bottom: 1px solid $white;
  }
  .border-white-left {
    border-left: 1px solid $white;
  }
  .border-white-right {
    border-right: 1px solid $white;
  }
  .border-white-top {
    border-top: 1px solid $white;
  }
  /* button */
  .button-scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 48px;
    height: 48px;
    background-color: $primaryColor;
    cursor: pointer;
  }
  .button-scroll-top:hover {
    background-color: #6ff1e6;
  }
  .large-icons,
  .large-icons-2 {
    border-radius: 50%;
    cursor: pointer;
    padding: 12px;
    width: 100px;
    height: 100px;
  }
  .large-icons:hover {
    background-color: $primaryColor;
    border: 2px solid $primaryColor;
    color: $white;
  }
  .large-icons-2:hover {
    background-color: #6ff1e6;
    border: 2px solid #6ff1e6;
    color: black;
  }
  .large-icons i,
  .large-icons-2 i {
    font-size: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin: 2em 0;
    min-width: 80px;
    /*max-width: 160px;*/
    padding: 12px 24px;
    cursor: pointer;
    font-weight: bold;
  }

  .button i {
    margin-left: 1em;
  }

  .button:hover {
    background-color: #6ff1e6;
    /* border: 0px solid $primaryColor; */
    color: $white;
  }

  .button.round-corner {
    border-radius: 25px;
  }
  .round {
    border-radius: 50%;
  }
  /* fonts for headings*/

  h1,
  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 2.5em;
  }
  h3,
  h4,
  h5 {
    font-family: "Monteserrat", sans-serif;
  }
  .title-label {
    margin-bottom: -3em;
  }
  .title {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .text-small {
    font-size: 1rem;
  }
  .focus {
    font-weight: bolder;
  }
  /* colors and backgrounds */
  .bg-img-map {
    background-image: url("../images/map2.png");
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: contain;
  }
  .bg-service1 {
    background-image: url("../images/service1_.jpg");
    background-size: cover;
  }
  .bg-service2 {
    background-image: url("../images/service2_.jpg");
    background-size: cover;
  }
  .bg-service3 {
    background-image: url("../images/service3_.jpg");
    background-size: cover;
  }
  .bg-service4 {
    background-image: url("../images/service4_.jpg");
    background-size: cover;
  }
  .bg-img-header1 {
    background-image: url("../images/header1.jpg");
    background-size: cover;
  }
  .bg-img-header2 {
    background-image: url("../images/header2.jpg");
    background-size: cover;
  }
  .bg-img-header3 {
    background-image: url("../images/header3.jpg");
    background-size: cover;
  }
  .bg-img-header4 {
    background-image: url("../images/header4.jpg");
    background-size: cover;
  }
  .bg-img-header5 {
    background-image: url("../images/jobs.jpg");
    background-size: cover;
  }
  .bg-img-header6 {
    background-image: url("../images/banner3.jpg");
    background-size: cover;
  }
  .bg-img-header7 {
    background-image: url("../images/ladies.jpg");
    background-size: cover;
  }
  .bg-img-header8 {
    background-image: url("../images/industrial.jpg");
    background-size: cover;
  }

  .bg-img-header9 {
    background-image: url("../images/customer_care.jpg");
    background-size: cover;
  }
  .bg-img-header_ {
    background-image: url("../images/training_new.jpg");
    background-size: cover;
  }
  .bg-img-team {
    background-image: url("../images/team-image.jpg");
    background-size: cover;
  }
  .black-bg-transparent {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .dark-bg-transparent {
    background-color: rgba(0, 0, 0, 0.342);
  }
  .primary-bg-transparent {
    background-color: $primaryColorTrans;
  }
  .white-bg-transparent {
    background-color: $whiteTrans;
  }
  .accent-bg-transparent {
    background-color: $accentColorTrans;
  }
  .dark-bg {
    background-color: $primaryText;
  }
  .dark-bg a,
  .dark-bg a:visited,
  .dark-bg {
    color: $white;
    text-decoration: none;
  }
  .primary-bg {
    background-color: $primaryColor;
  }
  .primary-bg a,
  a:visited {
    color: $white;
    text-decoration: underline;
  }
  .white-bg {
    background-color: $white;
  }

  .white-bg a,
  a:visited,
  nav.white-bg a,
  nav.white-bg a:visited {
    color: $primaryColor;
    text-decoration: none;
  }
  .primary-bg a,
  a:visited,
  nav.primary-bg a,
  nav.primary-bg a:visited {
    color: $white;
    text-decoration: none;
  }

  .accent-bg {
    background-color: $accentColor;
  }
  .accent-bg a,
  a:visited {
    color: $white;
    text-decoration: none;
  }
  nav {
    @include flex(row, flex-end, center, 0, nowrap);
    margin: 0.5em auto;
    width: calc(100% - 2em);
    // border: 1px solid red;
  }
  nav span,
  nav div {
    @include navButton($primaryColor, $white, $white);
    padding: 0.5em 1em;
    margin: 0.25em 0em;
    min-width: 100px;
    // max-width: 10%;
    cursor: pointer;
  }
  nav span.active,
  nav > div.active {
    @include navButton($accentColor, $accentColor, $primaryColor);
  }
  a.button {
    text-decoration: none;
  }

  .error-text {
    color: red;
  }
  .success-bg {
    background-color: green;
  }
  .success-text {
    color: green;
  }
  .primary-text {
    color: $primaryColor;
  }
  .white-text {
    color: $white;
  }
  .accent-text {
    color: $accentColor;
  }
  /* alignment */
  .text-center {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }
  .text-justify {
    text-align: justify;
  }
  /* positioning */
  .absolute {
    position: absolute;
  }
  .absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
  }
  .flex-center {
    justify-content: center;
  }
  .flex-start {
    justify-content: flex-start;
  }
  .flex-end {
    justify-content: flex-end;
  }
  .flex-between {
    justify-content: space-between;
  }
  .flex-space {
    justify-content: space-evenly;
  }
  .flex-top {
    align-items: flex-start;
    /* justify-content: center; */
  }
  .flex-bottom {
    align-items: flex-end;
    /* justify-content: center; */
  }
  .flex-middle {
    align-items: center;
    /* justify-content: center; */
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  /* navigations */

  nav a {
    padding: 0.5em;
    color: $primaryColor;
    cursor: pointer;
  }
  nav span:hover {
    @include navButton($accentColor, $accentColor, $primaryText);
  }
  nav a:hover {
    text-decoration: underline;
  }

  nav > div#services {
    position: relative;
  }
  .form-control {
    width: calc(100% - 1.5em);
    outline: none;
    height: 2.5em;
    padding: 0.25em 0.5em;
    margin: 0.5em;
  }
  #expandable {
    background-color: $accentColor;
    text-align: left;
    position: absolute;
    // left: 0;
    width: 300px;
    margin: 0.5em -1em;
    padding: 1em 0;
  }
  #expandable a,
  #expandable a:visited {
    color: $primaryColor;
    text-decoration: none;
    width: calc(100% - 1em);
    padding: 0.5em;
  }
  #expandable a:hover {
    color: $white;
    background-color: $primaryColor;
    text-decoration: none;
  }
  /* layouts */
  .mobile-only {
    display: none;
  }
  .horizontal-scroll-wrapper {
    animation: myscroll 5s linear forwards;
    width: 100%;
    height: 300px;
    padding-left: 1000px;
    border-left: 1px solid red;
  }
  /* .horizontal-scroll-wrapper > div {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: right top;
  } */
  .squares {
    padding: 2px;
    display: block;
    width: 100px;
    align-content: center;
  }

  .squares > img {
    width: calc(100% - 10px);
    margin: 5px;
  }
  .news-card {
    min-width: 280px;
    cursor: pointer;
  }
  .news-card:hover {
    background-color: $primaryColor;
    opacity: 0.4;
  }
  .box-list {
    margin: 1em 2em;
    padding: 1em;
    min-width: calc(30% - 6em);
    max-width: calc(35% - 6em);
    height: 500px;
    cursor: pointer;
  }
  .box-list:hover {
    background-image: none;
    border: 1px solid $white;
  }
  .vspacer {
    display: block;
    width: 100%;
    height: 70px;
  }
  .vspacer-small {
    display: block;
    width: 100%;
    height: 5px;
  }
  .hidden {
    display: none;
  }
  .transparent {
    opacity: 0.45;
    position: relative;
    left: 0;
    top: 0;
  }
  footer {
    @include flex(row, space-evenly, center, 1, wrap);
    padding: 0 $stdPadding;
    width: calc(100% - 5em);
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .values {
    @include flex(row, flex-start, center, 0, nowrap);
    width: calc(50% - 5em);
    // border: 1px solid $primaryColor;
    border-radius: 50px;
    padding: 0.2em 0.2em;
    flex-wrap: nowrap;
    margin: 2em;
  }
  .values div {
    @include flex(column, center, flex-start, 0, no-wrap);
    margin-left: 1em;
    flex-grow: 2;
    font-size: $smallFont;
    text-align: left;
  }
  .floating-header {
    @include flex(column, flex-start, flex-start, 1, wrap);
    position: fixed;
    top: 0;
    z-index: 100000000;
    margin: 0 auto;
    padding: 0.25em;
    width: calc(100% - 0.5em);
    /*margin-right: 400px;*/
  }
  .floating-header #top-bar {
    @include flex(row, space-between, center, 0, nowrap);
    width: calc(100% - 2em);
    // border: 1px solid red;
    box-sizing: border-box;
    margin: 0 auto;
  }
  img.flag {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
  }
  .tip {
    // position: relative;
    display: flex;
    flex-direction: column;
  }
  .tooltip {
    background-color: $secondaryText;
    color: $white;
    visibility: hidden;
    position: absolute;
    border-radius: 6px;
    padding: 0.2em 0.5em;
    z-index: 1;
    margin-top: -2em;
    margin-left: -2em;
  }
  .tip:hover .tooltip {
    visibility: visible;
  }
  table tr td {
    padding: 1em;
  }
  table tbody tr:hover {
    background-color: #6ff1e6;
    cursor: pointer;
  }
  table tr td a,
  table tr td a:visited,
  table tr td a:hover {
    color: $primaryColor;
    text-decoration: none;
  }
  a.plain-link,
  a.plain-link:visited,
  a.plain-link:hover {
    color: $primaryColor;
    text-decoration: none;
  }
  .copyright {
    padding: 1em;
    font-size: 0.8rem;
  }
  main,
  section {
    /* height: calc(100vh - 10em); */
    margin: 0 auto;
  }
  #section_services div#slider {
    @include flex(row, center, center, 1, wrap);
  }

  .title-tag {
    padding: 1em;
    display: block;
    /* background-image: url("../images/title_tag.png");
    background-size: cover; */
  }

  p > i.material-icons {
    font-size: small;
    align-self: center;
  }
  #slider1 p {
    width: 70%;
  }
  .can-go-right {
    overflow-x: hidden;
    animation: goright 5s linear 0s forwards;
    animation-iteration-count: infinite;
    /* height: 120px; */
  }
  .can-go-left {
    overflow-x: hidden;
    animation: goleft 5s linear 0s forwards;
    animation-iteration-count: infinite;
    /* height: 120px; */
  }

  .can-slide {
    overflow-x: hidden;
    animation: slide 0.5s linear 4s forwards;
  }
  .can-fade {
    animation: fade 1s linear 4s forwards;
  }
  .can-spin {
  }
  .can-spin:hover {
    animation: spin 2000ms linear infinite;
  }
  .can-spin-horizontal {
  }
  .can-spin-horizontal:hover {
    animation: spinHorizontal 2000ms linear infinite;
  }

  @keyframes spinHorizontal {
    from {
      transform: rotate3d(0deg);
    }
    to {
      transform: rotate3d(360deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes myscroll {
    from {
      padding-left: 1000px;
    }
    to {
      padding-left: -1200px;
    }
  }
  @keyframes goright {
    from {
      margin-left: 0px;
    }
    to {
      margin-left: 100%;
    }
  }
  @keyframes goleft {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: -100px;
    }
  }
  @keyframes slide {
    from {
      position: relative;
      left: 0px;
    }
    to {
      position: relative;
      left: 100%;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .box-list {
    margin: 1em;
    padding: 1em;
    width: calc(50% - 4em);
    height: 500px;
    cursor: pointer;
  }
}
